<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Carrinho</title>
    <%-include('parts/head.ejs', {css: ['style.css', 'carrinho.css', 'nav-principal.css']}) %>

</head>
<body>
    <%-include('parts/header.ejs') %>
    <main>
    <nav class="bloco-do-carrinho">
        <h5 class="titulos-bloco-do-carrinho">Produtos</h5>
        <h5 class="titulos-bloco-do-carrinho">Preço unitário</h5>
        <h5 class="titulos-bloco-do-carrinho">Quantidade</h5>
        <h5 class="titulos-bloco-do-carrinho">Subtotal</h5>
        <h5 class="titulos-bloco-do-carrinho">excluir</h5>
    </nav>
    <div class="segunda-coluna">
        <a href="/pagina-do-produto"><img src="img/piercing.jpg" alt=""></a>
        <h3 class="nome-segunda-coluna">nome</h3>
        <h3 class="preco-segunda-coluna">R$65,00</h3>
        <span class="qtd-segunda-coluna">1</span>
        <span class="sub-segunda-coluna">R$63,00</span>
        <div class="lixeira"><a href=""><img src="img/126468.png" alt=""></a></div>
    </div>
    <div class="terceira-coluna">
        <h2 class="valor-total">Valor Total: R$63,00</h2>
        <div class="botoes">
            <div>
                <button>Continuar Comprando</button>
            </div>
            <div>
                <button>Finalizar Comprando</button>
            </div>
        </div>
    </div>
    </main>
    <%-include('parts/footer.ejs') %>
</body>
</html>