<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonaDella</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/carrinho.css">

</head>
<body>
    <header><nav class="header">
        <a href="/">
            <img id="logo" src="/img/Logo.png" alt="Logo da Marca">
        </a>

        <ul>
            <li><a href="#">Piercing</a>
                <div class="sub-menu-1">
                    <ul>
                        <li class="hover-sub"><a href="#">Orelha</a>    
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Tragus</a></li>
                                    <li><a href="#">Hélix</a></li>
                                    <li><a href="#">Conch</a></li>
                                    <li><a href="#">Lóbulo</a></li>
                                    <li><a href="#">Mini</a></li>
                                    <li><a href="#">Scapha</a></li>
                                    <li><a href="#">Daith</a></li>
                                    <li><a href="#">Rook</a></li>
                                </ul>
                            </div>

                        </li>

                        <li class="hover-sub"><a href="#">Boca</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Labret</a></li>
                                    <li><a href="#">Vertical Labret</a></li>
                                    <li><a href="#">Monroe / Madonna</a></li>
                                    <li><a href="#">Medusa</a></li>
                                    <li><a href="#">Lingua</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="hover-sub"><a href="#">Nariz</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Aba Nasal</a></li>
                                    <li><a href="#">Septo</a></li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="#">Sombrancelha</a></li>

                        <li><a href="#">Umbigo</a></li>

                        <li class="hover-sub"><a href="#">Mamilo</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Feminino</a></li>
                                    <li><a href="#">Masculino</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="hover-sub"><a href="#">Íntimos</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Vertical Hood</a></li>
                                    <li><a href="#">Horinzontal Hood</a></li>
                                    <li><a href="#">Cristina</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>
            <li><a href="#">Vale Presente</a></li>
            <li><a href="#">Cuidados</a></li>
            <li><a href="#">Conta</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Registrar</a></li>
                    </ul>
                </div>            
            </li>
        </ul>
    </nav></header>

    <h1>Meu Carrinho</h1>
    <h2>Itens</h2>
    <main>
        <article>
            <img id="piercing-carrinho" src="/img/piercing.jpg" alt="Piercing">
            <h2>Piercing</h2>
            <span>R$ 65,50</span>
        </article>
    </main>
</body>
</html>