<!DOCTYPE html>
<html lang="en">

<head>
    <title>Confirmação de Endereço</title>
    <%-include('parts/head.ejs', {css: ['style.css', 'checkout-endereco.css', 'nav-principal.css']}) %>


</head>

<body>
    <%-include('parts/header.ejs') %>
    <main>
        <div class="box">
            <div class="img-box">
                <a href="/"> <img id="logo-quadrado" src="/img/logo-quadrado.png"> </a>
            </div>

            <div class="form-box">
                <h2>Informe o endereço para entrega:</h2>

                <form action="#">
                    <div class="input-group">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" pattern="^[0-9]{5}-[0-9]{3}$" required>
                    </div>

                    <div class="input-group w75">
                        <label for="endereco">Endereço</label>
                        <input type="text" id="endereco" placeholder="" required>
                    </div>

                    <div class="input-group w25">
                        <label for="numero">Número</label>
                        <input type="number" id="numero" placeholder="" required>
                    </div>

                    <div class="input-group w65">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" placeholder="" required>
                    </div>

                    <div class="input-group w35">
                        <label for="complemento">Complemento</label>
                        <input type="text" id="complemento" placeholder="">
                    </div>


                    <div class="input-group w25">
                        <label for="estado">Estado</label>
                        <input name="text" id="estado" placeholder="" readonly>
                    </div>

                    <div class="input-group w75">
                        <label for="cidade">Cidade</label>
                        <input type="cidade" id="cidade" placeholder="" readonly>
                    </div>
                    <div class="input-group">
                        <button>Enviar</button>
                    </div>

            </div>


            </form>
        </div>
        </div>
    </main>
    <%-include('parts/footer.ejs') %>
</body>

<script src="js/checkout-endereco.js" defer></script>

</html>