<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Endereço</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/editar-endereco.css">
    <link rel="stylesheet" href="css/editar-perfil.css">
    <link rel="stylesheet" href="css/perfil-de-usuario.css">
    <link rel="stylesheet" href="css/nav-principal.css">
</head>
<body>
    <nav id="nav-principal">
        <a class="logo" href="/">
            <img src="/img/Logo.png" alt="Logo da Marca">
        </a>

        <ul>
            <li>
                <a href="#">Piercing</a>
                <ul>
                    <li>
                        <a href="#">Orelha</a>    
                        <ul>
                            <li><a href="#">Tragus</a></li>
                            <li><a href="#">Hélix</a></li>
                            <li><a href="#">Conch</a></li>
                            <li><a href="#">Lóbulo</a></li>
                            <li><a href="#">Mini</a></li>
                            <li><a href="#">Scapha</a></li>
                            <li><a href="#">Daith</a></li>
                            <li><a href="#">Rook</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Boca</a>
                        <ul>
                            <li><a href="#">Labret</a></li>
                            <li><a href="#">Vertical Labret</a></li>
                            <li><a href="#">Monroe / Madonna</a></li>
                            <li><a href="#">Medusa</a></li>
                            <li><a href="#">Lingua</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Nariz</a>
                        <ul>
                            <li><a href="#">Aba Nasal</a></li>
                            <li><a href="#">Septo</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Sombrancelha</a></li>

                    <li><a href="#">Umbigo</a></li>

                    <li><a href="#">Mamilo</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="#">Feminino</a></li>
                                <li><a href="#">Masculino</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="#">Íntimos</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="#">Vertical Hood</a></li>
                                <li><a href="#">Horinzontal Hood</a></li>
                                <li><a href="#">Cristina</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </li>
            <li><a href="#">Vale Presente</a></li>
            <li><a href="#">Cuidados</a></li>
            <li>
                <a href="#">Conta</a>
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="cadastro">Cadastrar</a></li>
                </ul>
            </li>
        </ul>

        <input type="search" name="busca" placeholder="O que você procura?">
        <button class="bt-buscar">Buscar</button>

        <a class="carrinho" href="/carrinho">
            <img src="img/carrinho.png" alt="">
        </a>
    </nav>
    <main>
        <section class="my-addresses">
            <h3>Endereços</h3>
            <hr id="line-top">
            <div id="addresses"> 
                <p>Rua das Flores, 200. Santo André-SP. CEP 87489-020</p> 
                <a href="#" id="signal">-</a>
            </div>
            <hr id="line">
            <div id="addresses"> 
                <p>Rua das Mercedes, 1800. Santo André-SP. CEP 85489-414</p> 
                <a href="#" id="signal">+</a>
            </div> 
            <hr id="line">
            <div id="addresses"> 
                <p>Av. das Cores, 200. Santo André-SP. CEP 85459-878</p> 
                <a href="#" id="signal">+</a>
            </div>
            <hr id="line">
        </section>

        <div class="box">
            <div class="form-box-edit-address">
                <h2>Alterar/Adicionar Endereço</h2>
                <form action="#">
                    <div  id="input-group">
                        <label for="nome"></label>
                        <input type="nome" id="nome" placeholder="Nome do Destinatário" required>
                    </div>
                    
                    <div id="input-group">
                        <label for="cep"></label>
                        <input type="cep" id="cep" placeholder="Digite o CEP" required>
                    </div>
                    
                    <div id="input-group" class="address-number">
                        <label for="endereco"></label>
                        <input type="text" id="endereco" placeholder="Endereço" required>
                        <label for="numero"></label>
                        <input type="numero" id="numero" placeholder="Número" required>
                    </div>

                    <div id="input-group">
                        <label for="complemento"></label>
                        <input type="complemento" id="complemento" placeholder="Complemento. Ap, suíte etc (opcional)">
                    </div>

                    <div id="input-group" class="city-state">
                        <label for="estado"></label>
                        <select name="estado" id="estado" placeholder="Estado" readonly>
                            <option value="1">Estado</option>
                            <option value="2">AC</option>
                            <option value="3">AL</option>
                            <option value="4">AP</option>
                            <option value="5">AM</option>
                            <option value="6">BA</option>
                            <option value="7">CE</option>
                            <option value="8">DF</option>
                            <option value="9">ES</option>
                            <option value="10">GO</option>
                            <option value="11">MA</option>
                            <option value="12">MT</option>
                            <option value="13">MS</option>
                            <option value="14">MG</option>
                            <option value="15">PA</option>
                            <option value="16">PB</option>
                            <option value="17">PR</option>
                            <option value="18">PE</option>
                            <option value="19">PI</option>
                            <option value="20">RN</option>
                            <option value="21">RS</option>
                            <option value="22">RJ</option>
                            <option value="23">RO</option>
                            <option value="24">RR</option>
                            <option value="25">SC</option>
                            <option value="26">SP</option>
                            <option value="27">SE</option>
                            <option value="28">TO</option>
                        </select>
                        <label for="cidade"></label>
                        <input type="cidade" id="cidade" placeholder="Cidade" readonly>
                    </div>

                    <div id="input-group">
                        <label for="observacoes"></label>
                        <input type="observacoes" id="observacoes" placeholder="Observações">
                    </div>
    
                    <div id="input-group">
                        <button>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>