<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Editar Perfil</title>
    <%-include('parts/head.ejs', {css: ['style.css', 'editar-perfil.css', 'nav-principal.css']}) %>

    <script src="js/cadastro.js" defer></script>
</head>
<body>
    <%-include('parts/header.ejs') %>
    <main>
        <div class="box">
            <div class="img-box">
                <a href="/"><img id="logo-quadrado" src="/img/logo-quadrado.png"></a>
            </div>
            
            <div class="form-box">
                <h2>Editar Perfil</h2>
                <form action="#">
                    <div id="input-group">
                        <label for="nome">Nome</label>
                        <input type="nome" id="nome" placeholder="Digite o seu nome" required>
                    </div>
                    
                    <div id="input-group">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" placeholder="Digite o seu e-mail" required>
                    </div>

                    <div id="input-group">
                        <label for="telefone">Telefone</label>
                        <input type="tel" maxlength="15" onkeyup="handlePhone(event)" id="telefone" placeholder="Digite o seu telefone" required>
                    </div>

                    <h3>Alterar Senha</h3>
                    <div id="input-group">
                        <label for="senha">Nova senha</label>
                        <input type="password" id="senha" placeholder="Digite sua senha" required>
                    </div>
                    
                    <div id="input-group">
                        <label for="confirmarsenha">Confirmar nova senha</label>
                        <input type="password" id="confirmarSenha" placeholder="Confirme sua senha" required>
                    </div>
    
                    <div id="input-group">
                        <button>Salvar</button>
                    </div>
    
                </form>
            </div>
        </div>
    </main>
    <%-include('parts/footer.ejs') %>
</body>
</html>