<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DonaDella</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav-principal.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/homeCarousel.js" defer></script>

</head>
<body>
    <nav id="nav-principal">
        <a class="logo" href="/">
            <img src="/img/Logo.png" alt="Logo da Marca">
        </a>

        <ul>
            <li>
                <a href="#">Piercing</a>
                <ul>
                    <li>
                        <a href="#">Orelha</a>    
                        <ul>
                            <li><a href="#">Tragus</a></li>
                            <li><a href="#">Hélix</a></li>
                            <li><a href="#">Conch</a></li>
                            <li><a href="#">Lóbulo</a></li>
                            <li><a href="#">Mini</a></li>
                            <li><a href="#">Scapha</a></li>
                            <li><a href="#">Daith</a></li>
                            <li><a href="#">Rook</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Boca</a>
                        <ul>
                            <li><a href="#">Labret</a></li>
                            <li><a href="#">Vertical Labret</a></li>
                            <li><a href="#">Monroe / Madonna</a></li>
                            <li><a href="#">Medusa</a></li>
                            <li><a href="#">Lingua</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Nariz</a>
                        <ul>
                            <li><a href="#">Aba Nasal</a></li>
                            <li><a href="#">Septo</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Sombrancelha</a></li>

                    <li><a href="#">Umbigo</a></li>

                    <li><a href="#">Mamilo</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="#">Feminino</a></li>
                                <li><a href="#">Masculino</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="#">Íntimos</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="#">Vertical Hood</a></li>
                                <li><a href="#">Horinzontal Hood</a></li>
                                <li><a href="#">Cristina</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </li>
            <li><a href="#">Vale Presente</a></li>
            <li><a href="#">Cuidados</a></li>
            <li>
                <a href="#">Conta</a>
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="cadastro">Cadastrar</a></li>
                </ul>
            </li>
        </ul>

        <input type="search" name="busca" placeholder="O que você procura?">
        <button class="bt-buscar">Buscar</button>

        <a class="carrinho" href="/carrinho">
            <img src="img/carrinho.png" alt="">
        </a>
    </nav>
    
    <main>
        <div class="titulo1">Alguns de nossos Trabalhos</div>

        <div class="slider">

            <div class="slides">
                <!-- Radio Buttons-->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!-- <input type="radio" name="radio-btn" id="radio5">
                <input type="radio" name="radio-btn" id="radio6"> -->


                <!-- Fim Radio Buttons-->

                <!--Slide images-->
                <div class="slide first">
                    <img src="img/imagem1.jpeg" alt="Imagem 1">
                </div>

                <div class="slide">
                    <img src="img/imagem2.jpeg" alt="Imagem 2">
                </div>

                <div class="slide">
                    <img src="img/imagem3.jpeg" alt="Imagem 3">
                </div>

                <div class="slide">
                    <img src="img/imagem4.jpeg" alt="Imagem 4">
                </div>

                <!-- <div class="slide">
                    <img src="img/imagem5.jpeg" alt="Imagem 5">
                </div>

                <div class="slide">
                    <img src="img/imagem6.jpeg" alt="Imagem 6">
                </div> -->
                <!--Fim Slide Imagens-->

                <!--Naigation auto-->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                    <!-- <div class="auto-btn5"></div>
                    <div class="auto-btn6"></div> -->

                </div>

            </div>

            <div class="manual-navigation">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
                <!-- <label for="radio5" class="manual-btn"></label>
                <label for="radio6" class="manual-btn"></label> -->

            </div>

        </div>

        <div class="titulo2">Alguns de nossos Trabalhos
            <p>TESTANDO BARRA DE ROLAGEM</p>
        </div>

    </main>
    
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li> <a href="">Quem somos</a></li>
                        <li> <a href="">Nossos Serviços</a></li>
                    </ul>
                </div>
                <!-- end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Obter Ajuda</h4>
                        <ul>
                            <li> <a href="">SAQ</a></li>
                            <li> <a href="">Opções de pagamento</a></li>
                        </ul>
                    </div>
                    <!-- end footer col-->
                        <!-- footer col-->
                        <div class="footer-col">
                            <h4>Siga-nos</h4>
                            <div class="medias-sociais">
                                <a href="https://www.instagram.com/donadella_fh/"> <i class="fa fa-instagram"></i></a>
                                <a href="https://www.facebook.com/donadella.fh"> <i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                        <!-- end footer col-->
            </div>
        </div>
    </footer>

</body>
</html>