<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Cadastro</title>
    <%-include('parts/head.ejs', {css: ['style.css', 'nav-principal.css']}) %>
    <title>DonaDella</title>
</head>
<body>
    <%-include('parts/header.ejs') %>

    <main class="main">
        <section class="produtos">
            <section class="produto">
                <a href="/pagina-do-produto"><img src="img/piercing.jpg" alt=""></a>
                <h2>Piercing</h2>
                <span>R$45,00</span>
                <a href="/pagina-do-produto">ver+</a>
                <button>add+</button>
            </section>
            <section class="produto">
                <a href="/pagina-do-produto"><img src="img/piercing.jpg" alt=""></a>
                <h2>Piercing</h2>
                <span>R$45,00</span>
                <a href="/pagina-do-produto">ver+</a>
                <button>add+</button>
            </section>
            <section class="produto">
                <a href="/pagina-do-produto"><img src="img/piercing.jpg" alt=""></a>
                <h2>Piercing</h2>
                <span>R$45,00</span>
                <a href="/pagina-do-produto">ver+</a>
                <button>add+</button>
            </section>
            <section class="produto">
                <a href="/pagina-do-produto"><img src="img/piercing.jpg" alt=""></a>
                <h2>Piercing</h2>
                <span>R$45,00</span>
                <a href="/pagina-do-produto">ver+</a>
                <button>add+</button>
            </section>
            <section class="produto">
                <a href="/pagina-do-produto"><img src="img/piercing.jpg" alt=""></a>
                <h2>Piercing</h2>
                <span>R$45,00</span>
                <a href="/pagina-do-produto">ver+</a>
                <button>add+</button>
            </section>
        </section>
    </main>
    <%-include('parts/footer.ejs') %>

</body>
</html>