<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Home</title>
    <%-include('parts/head.ejs', {css: ['index.css', 'style.css', 'nav-principal.css']}) %>
    <script src="js/homeCarousel.js" defer></script>

    <title>DonaDella</title>

</head>
<body>
    <%-include('parts/header.ejs') %>

    <main>
 
    <div>  

      <div class="slider">

        <div class="slides">
            <!-- Radio Buttons-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">


            <!-- Fim Radio Buttons-->

            <!--Slide images-->
            <div class="slide first">
                <img src="img/imagem1.jpeg" alt="Imagem 1">
            </div>

            <div class="slide">
                <img src="img/imagem2.jpeg" alt="Imagem 2">
            </div>

            <div class="slide">
                <img src="img/imagem3.jpeg" alt="Imagem 3">
            </div>

            <div class="slide">
                <img src="img/imagem4.jpeg" alt="Imagem 4">
            </div>

            <!--Naigation auto-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <!-- <div class="auto-btn5"></div>
                <div class="auto-btn6"></div> -->

            </div>

        </div>
      </div>

      


      <div>
        <div class="container">
            <div class="card">
                <div class="content">
                  <h2>R$ 199</h2>
                  <h3>Furinho Bebê</h3>
                  <p>O carinho e o cuidado que a sua bebê merece</p>
                  <a href="#">Mais Informações</a>
                </div>
            </div>

            <div class="card">
              <div class="content">
                <h2>A partir de R$ 100</h2>
                <h3>Body Piercing</h3>
                <p>Procedimento asséptico com joia em aço cirurgico</p>
                <a href="#">Mais Informações</a>
              </div>
          </div>

          <div class="card">
            <div class="content">
              <h2>A partir de R$ 25</h2>
              <h3>Joias</h3>
              <p>Joias em aço cirúrgico e titânio para atualização</p>
              <a href="#">Mais Informações</a>
            </div>
          </div>

        </div>
      </div>
    

    </main>

    <%-include('parts/footer.ejs') %>

</body>
</html>