<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DonaDella</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="header">
        <a href="/">
            <img id="logo" src="/img/Logo.png" alt="Logo da Marca">
        </a>

        <ul>
            <li><a href="#">Piercing</a>
                <div class="sub-menu-1">
                    <ul>
                        <li class="hover-sub"><a href="#">Orelha</a>    
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Tragus</a></li>
                                    <li><a href="#">Hélix</a></li>
                                    <li><a href="#">Conch</a></li>
                                    <li><a href="#">Lóbulo</a></li>
                                    <li><a href="#">Mini</a></li>
                                    <li><a href="#">Scapha</a></li>
                                    <li><a href="#">Daith</a></li>
                                    <li><a href="#">Rook</a></li>
                                </ul>
                            </div>

                        </li>

                        <li class="hover-sub"><a href="#">Boca</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Labret</a></li>
                                    <li><a href="#">Vertical Labret</a></li>
                                    <li><a href="#">Monroe / Madonna</a></li>
                                    <li><a href="#">Medusa</a></li>
                                    <li><a href="#">Lingua</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="hover-sub"><a href="#">Nariz</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Aba Nasal</a></li>
                                    <li><a href="#">Septo</a></li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="#">Sombrancelha</a></li>

                        <li><a href="pagina-produtos">Umbigo</a></li>

                        <li class="hover-sub"><a href="#">Mamilo</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Feminino</a></li>
                                    <li><a href="#">Masculino</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="hover-sub"><a href="#">Íntimos</a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Vertical Hood</a></li>
                                    <li><a href="#">Horinzontal Hood</a></li>
                                    <li><a href="#">Cristina</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>
            <li><a href="#">Vale Presente</a></li>
            <li><a href="#">Cuidados</a></li>
            <li><a href="#">Conta</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="login">Login</a></li>
                        <li><a href="cadastro">Cadastrar</a></li>

                    </ul>
                </div>            
            </li>
        </ul>

        <input type="text" name="" id="" placeholder="O que você procura?">
        <button id="bt-buscar">Buscar</button>

        <a id="carrinho-header" href="/carrinho">
            <img src="img/carrinho.png" alt="">
            <!-- <span>0</span> -->
        </a>
    </nav>
<main>
</main>
<footer>
    <div class="container-footer">
        <div class="row-footer">
            <!-- footer col-->
            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li> <a href="">Quem somos</a></li>
                    <li> <a href="">Nossos Serviços</a></li>
                </ul>
            </div>
            <!-- end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Obter Ajuda</h4>
                    <ul>
                        <li> <a href="">SAQ</a></li>
                        <li> <a href="">Opções de pagamento</a></li>
                    </ul>
                </div>
                <!-- end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Siga-nos</h4>
                        <div class="medias-sociais">
                            <a href="https://www.instagram.com/donadella_fh/"> <i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/donadella.fh"> <i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <!-- end footer col-->
        </div>
    </div>
</footer>

</body>
</html>