<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%-include('parts/head.ejs', {css: ['index.css', 'style.css' , 'nav-principal.css' ]}) %>
        <script src="js/homeCarousel.js" defer></script>
        <title>Donadella</title>
</head>

<body>
    <%-include('parts/header.ejs') %>
        <main>
            <div class="titulo1">Alguns de nossos Trabalhos</div>

            <div class="slider">

              <div class="slides">
                  <!-- Radio Buttons-->
                  <input type="radio" name="radio-btn" id="radio1">
                  <input type="radio" name="radio-btn" id="radio2">
                  <input type="radio" name="radio-btn" id="radio3">
                  <input type="radio" name="radio-btn" id="radio4">
                  <!-- <input type="radio" name="radio-btn" id="radio5">
                  <input type="radio" name="radio-btn" id="radio6"> -->
  
  
                  <!-- Fim Radio Buttons-->
  
                  <!--Slide images-->
                  <div class="slide first">
                      <img src="img/imagem1.jpeg" alt="Imagem 1">
                  </div>
  
                  <div class="slide">
                      <img src="img/imagem2.jpeg" alt="Imagem 2">
                  </div>
  
                  <div class="slide">
                      <img src="img/imagem3.jpeg" alt="Imagem 3">
                  </div>
  
                  <div class="slide">
                      <img src="img/imagem4.jpeg" alt="Imagem 4">
                  </div>
  
                  <!-- <div class="slide">
                      <img src="img/imagem5.jpeg" alt="Imagem 5">
                  </div>
  
                  <div class="slide">
                      <img src="img/imagem6.jpeg" alt="Imagem 6">
                  </div> -->
                  <!--Fim Slide Imagens-->
  
                  <!--Naigation auto-->
                  <div class="navigation-auto">
                      <div class="auto-btn1"></div>
                      <div class="auto-btn2"></div>
                      <div class="auto-btn3"></div>
                      <div class="auto-btn4"></div>
                      <!-- <div class="auto-btn5"></div>
                      <div class="auto-btn6"></div> -->
  
                  </div>
  
              </div>
  
              <div class="manual-navigation">
                  <label for="radio1" class="manual-btn"></label>
                  <label for="radio2" class="manual-btn"></label>
                  <label for="radio3" class="manual-btn"></label>
                  <label for="radio4" class="manual-btn"></label>
                  <!-- <label for="radio5" class="manual-btn"></label>
                  <label for="radio6" class="manual-btn"></label> -->
  
              </div>
  
          </div>
              

        </main>

        <%-include('parts/footer.ejs') %>

</body>

</html>