<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonaDella</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="/img/Logo.png" alt="Logo da Marca"> 
        </a>

        <input type="text" name="" id="" placeholder="Qual produto você procura?">
        <button class="btBuscar">Buscar</button>

        <nav class="dp-menu-produtos">
            <ul>
                <li><a href="#piercing">Piercing</a>
                    <ul>
                        <li><a href="#Orelha">Orelha</a>
                            <ul>
                                <li><a href="#Tragus">Tragus</a></li>
                                <li><a href="#Hélix">Hélix</a></li>
                                <li><a href="#Conch">Conch</a></li>
                                <li><a href="#Lóbulo">Lóbulo</a></li>
                                <li><a href="#Mini">Mini</a></li>
                                <li><a href="#Scapha">Scapha</a></li>
                                <li><a href="#Daith">Daith</a></li>
                                <li><a href="#Rook">Rook</a></li>
                            </ul>
                        </li>

                        <li><a href="#Boca">Boca</a></li>
                            <ul>
                                <li><a href="#Labret">Labret</a></li>
                                <li><a href="#VerticalLabret">Vertical Labret</a></li>
                                <li><a href="#Monroe/Madonna">Monroe/Madonna</a></li>
                                <li><a href="#Medusa">Medusa</a></li>
                                <li><a href="#Língua">Língua</a></li>
                            </ul>

                        <li><a href="#Nariz">Nariz</a></li>
                            <ul>
                                <li><a href="#AbaNasal">Aba Nasal</a></li>
                                <li><a href="#Sépto">Sépto</a></li>
                            </ul>

                        <li><a href="#Sombrancelha">Sombrancela</a></li>

                        <li><a href="#Umbigo">Umbigo</a></li>

                        <li><a href="#Mamilo">Mamilo</a></li>
                            <ul>
                                <li><a href="#Feminino">Feminino</a></li>
                                <li><a href="#Masculino">Masculino</a></li>
                            </ul>

                        <li><a href="#Intimo">Íntimo</a></li>
                            <ul>
                                <li><a href="#VerticalHood">Vertical Hood</a></li>
                                <li><a href="#HorizontalHood">Horizontal Hood</a></li>
                                <li><a href="#Cristina">Cristina</a></li>
                            </ul>
                    </ul>
                </li>
                <li><a href="#valepresente">Vale Presente</a></li>

                <li><a href="#cuidados">Cuidados</a></li>
            </ul>            
        </nav>

        <nav class="dp-menu-conta">
            <ul>
                <li><a href="#Conta">Conta</a>
                    <ul>
                        <li><a href="#Login">Login</a></li>
                        <li><a href="#Cadastrar">Cadastrar</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>