<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/perfil-de-usuario.css">
    <link rel="stylesheet" href="css/nav-principal.css">
</head>
<body>
    <nav id="nav-principal">
        <a class="logo" href="/">
            <img src="/img/Logo.png" alt="Logo da Marca">
        </a>

        <ul>
            <li>
                <a href="#">Piercing</a>
                <ul>
                    <li>
                        <a href="#">Orelha</a>    
                        <ul>
                            <li><a href="#">Tragus</a></li>
                            <li><a href="#">Hélix</a></li>
                            <li><a href="#">Conch</a></li>
                            <li><a href="#">Lóbulo</a></li>
                            <li><a href="#">Mini</a></li>
                            <li><a href="#">Scapha</a></li>
                            <li><a href="#">Daith</a></li>
                            <li><a href="#">Rook</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Boca</a>
                        <ul>
                            <li><a href="#">Labret</a></li>
                            <li><a href="#">Vertical Labret</a></li>
                            <li><a href="#">Monroe / Madonna</a></li>
                            <li><a href="#">Medusa</a></li>
                            <li><a href="#">Lingua</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Nariz</a>
                        <ul>
                            <li><a href="#">Aba Nasal</a></li>
                            <li><a href="#">Septo</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Sombrancelha</a></li>

                    <li><a href="#">Umbigo</a></li>

                    <li><a href="#">Mamilo</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="#">Feminino</a></li>
                                <li><a href="#">Masculino</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="#">Íntimos</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="#">Vertical Hood</a></li>
                                <li><a href="#">Horinzontal Hood</a></li>
                                <li><a href="#">Cristina</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </li>
            <li><a href="#">Vale Presente</a></li>
            <li><a href="#">Cuidados</a></li>
            <li>
                <a href="#">Conta</a>
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="cadastro">Cadastrar</a></li>
                </ul>
            </li>
        </ul>

        <input type="search" name="busca" placeholder="O que você procura?">
        <button class="bt-buscar">Buscar</button>

        <a class="carrinho" href="/carrinho">
            <img src="img/carrinho.png" alt="">
        </a>
    </nav>

    <main>
        <div class="side1">
            <h1 class="title">Perfil do Usuário</h1>
        <section class="profile">
            <img src="img/perfil-default.jpg" alt="">
            <article class="client-info">
                <h3>Ingrid dos Santos</h3>
                <p>E-mail: ingrid@dossantos.com</p>
                <p>Cliente desde abril de 2022</p>
            </article>
            <div class="links-profile">
                <a href="editar-perfil">Editar</a>
            </div>
        </section>
        <hr class="line1">
        <section class="orders">
            <h3>Pedidos</h3>
            <hr id="line-top">
            <div id="orders-date"> 
                <p>18/01/2023</p> 
                <p>R$ 298,33</p>
            </div>
            <hr id="line">
            <div id="orders-date"> 
                <p>10/01/2023</p> 
                <p>R$ 65,55</p>
            </div>
            <hr id="line">
        </section>
        </div>
        <div class="side2">
            <section class="address">
                <h3>Endereços</h3>
                <hr id="line-top">
                <div id="addresses"> 
                    <p>Rua das Flores, 200. Santo André-SP. CEP 87489-020</p> 
                    <a href="#" id="signal">-</a>
                </div>
                <hr id="line">
                <div id="addresses"> 
                    <p>Rua das Mercedes, 1800. Santo André-SP. CEP 85489-414</p> 
                    <a href="#" id="signal">+</a>
                </div> 
                <hr id="line">
                <div id="addresses"> 
                    <p>Av. das Cores, 200. Santo André-SP. CEP 85459-878</p> 
                    <a href="#" id="signal">+</a>
                </div>
                <hr id="line">
                <div class="add-address">
                    <a href="editar-endereco">Adicionar Endereço</a>
                </div>
            </section>
        </div>

    </main>
</body>
</html>