*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bloco-do-carrinho {
    display:flex; 
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 10px 10px 10px ;
    margin: 20px 100px 0px;  
}
.titulos-bloco-do-carrinho {
    display: flex;
    align-items: center;
    padding-left: 75px;
    padding-right: 125px ;
}
.segunda-coluna img {
    max-width: 80px;
    margin-left: 40px;
    margin-top: 5px;
}

.segunda-coluna {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 10px 10px 10px ;
    margin: 0px 100px 0px;  
}

.preco-segunda-coluna {
    margin-left: 150px;
}

.qtd-segunda-coluna {
    margin-left: 235px;
}

.sub-segunda-coluna {
    margin-left: 197px;
}

.lixeira {
    margin-left: 138px;
}

.lixeira img {
    max-width: 30px;
}

.terceira-coluna {
    display: flex;
    align-items: flex-end;
    padding: 150px 10px 10px 10px ;
    margin: 0px 100px 0px; 
    background-color: rgba(255, 255, 255, 0.4);
}
.terceira-coluna h2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
}
button {
    
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:rgb(224, 209, 168);
    padding: 10px 30px;
    border-radius: 10%;
    display: flex;
    width: fit-content;
    gap: 10px;
    font-weight: 700;
    
}

