@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300&display=swap');

root {
    --cor-do-fundo: rgb(204, 180, 113);
    --cor-da-fonte: rgb(96, 80, 48);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-do-fundo);
    display: block;
    width: 100%;
    height: 100%;
}

body,
html {
    display: flex;
}

.w50 {
    width: 50%;
    float: left;
    padding-right: 15px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.box {
    display: flex;
    width: 930px;
}

.img-box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img {
    width: 50%;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    max-width: 200px;
    /*Ajusta o tamanho da Logo*/
    margin-top: -100px;
    /*Ajusta a altura do Logo*/
    margin-left: 90px;
    /*Ajusta a Logo para os lados*/
}


.form-box {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    border-radius: 0 20px 20px 0;
}

.form-box h2 {
    font-size: 30px;
}


.form-box form {
    margin: 20px 0;
}

form .input-group {
    margin-bottom: 15px;
}

form .input-group label {
    color: #3d3d3d;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group select {
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding-right: 15%;
    font-size: 15px;
    text-align: center;
    color: #616161;
    transition: all 0.4s ease;
}

select #mes{
    text-align: center;
    justify-content: center;
}

.divisao{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    text-align: center;
}


form .input-group input {
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

form .input-group input:focus {
    border-color: var(--cor-da-fonte);
}

form .input-group button {
    width: 100%;
    height: 47px;
    background: var(--cor-da-fonte);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
}