root {
    --cor-do-fundo: rgb(204, 180, 113);
    --cor-da-fonte: rgb(96, 80, 48);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html{
    height: 85%;
}

body {
    background-color: var(--cor-do-fundo);
    display: block;
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fff;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: 5px;
    margin-left: 300px;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: var(--cor-da-fonte);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    
}

.footer-col ul {
    list-style: none;  
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--cor-do-fundo);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--cor-da-fonte);
    padding-left: 10px;
}

.footer-col .medias-sociais{
    margin-top: 30px;
}

.footer-col .medias-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: var(--cor-do-fundo);
    border: 1px solid var(--cor-do-fundo);
    transition: all 0.5s ease;
}

.footer-col .medias-sociais a i {
    font-size: 20px;
}

.footer-col .medias-sociais a:hover {
    color: #fff;
    background-color: var(--cor-da-fonte);

}

.box {
display: flex;
width: 60%;
height: 60%;
margin-bottom: 7%;
}

#bt-home {
    background-color: var(--cor-do-fundo);
    border-radius: 20px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 20px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.confirmacao{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    border-radius: 0 20px 20px 0;
}

.img-box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img {
    border-radius: 20px 20px 20px 20px;
}


div a {
    display: block;  
    margin: auto; 
    align-items: center;
    text-align: center;
    justify-content: center;
}

div h4{
    font-size: 38px;
    text-align: center;
    margin-top: 12%;

}

div p{
    margin-top: 8%;
    font-size: 23px;
    text-align: justify;
}

#conteiner-bt{
    margin-top: 8%;
}

#bt-home {
    background-color: var(--cor-do-fundo);
    border-radius: 20px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

#bt-home:hover{
    color: #FFF;
    background-color: var(--cor-da-fonte);
    transition: all 0.3s ease;
}


