root {
    --cor-do-fundo: rgb(204, 180, 113);
    --cor-da-fonte: rgb(96, 80, 48);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--cor-do-fundo);
}

.box {
    display: flex;
    height: 90%;
    width: 70%;
    padding-top: 60px;
    padding-bottom: 60px;
}

#bt-home {
    background-color: var(--cor-do-fundo);
    border-radius: 20px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 20px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.confirmacao {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 100px 30px;
    border-radius: 0 20px 20px 0;
}

.img-box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img {
    border-radius: 20px 20px 20px 20px;
    width: 70%;
}


div a {
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

div h4 {
    font-size: 38px;
    text-align: center;

}

div p {
    margin-top: 5%;
    font-size: 23px;
    text-align: justify;
}

#conteiner-bt {
    margin-top: 9%;
}

#bt-home {
    background-color: var(--cor-do-fundo);
    border-radius: 20px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

#bt-home:hover {
    color: #FFF;
    background-color: var(--cor-da-fonte);
    transition: all 0.3s ease;
}