@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

main .box {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

main .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.img-box img {
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.form-box {
    backdrop-filter: blur(40px);
    width: 30vw;
    padding: 10px;
    border-radius: 20px;
}

.form-box h2 {
    font-size: 30px;
}

.form-box p{
    font-weight: bold;
    color: #3d3d3d;
}

.form-box form{
    margin: 20px 0;
}

form #input-group{
    margin-bottom: 15px;
}

form #input-group label{
    color: #3d3d3d;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form #input-group input, select {
    width: 100%;
    height: 47px;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

form #input-group input:focus{
    border-color: rgb(96, 80, 48);
}

form #input-group button{
    width: 100%;
    height: 47px;
    background: rgb(96, 80, 48);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}