main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: center;

}

section.address {
    width: 50%;
}

div.box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}