
form #estado, #numero {
    width: 30%;
    margin-right: 3px;
    height: 47px;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}