.titulo1{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.slider{
    margin: 50px auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
    text-align: center;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 580px;
}

.manual-navigation{
    position: absolute;
    width: 600px;
    margin-top: 180px;
    display: flex;
    margin-left: 310px;
    text-align: center;
}

.manual-btn{
    border: 4px solid var(--cor-da-fonte);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

/* #radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
} */

.navigation-auto div{
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    margin: 50px auto;
    position: absolute;
    width: 600px;
    margin-top: 581px;
    display: flex;
    margin-left: 310px;
    text-align: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 43px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

/* #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: white;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: white;
} */