.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 55px 350px;
    height: calc(100vh - 85);
    gap: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.items {
    align-items: flex-end;
}

.select-image {
    max-width: 400px;
    border-radius: 10px;
}

.select-image img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 10px;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side h6 {
    color: rgb(231, 231, 231);
    font-size: 17px;
  
}
.right-side h1 {
    border-bottom: white solid 2px;
    padding-bottom: 10px;
}

.right-side p {
    color: black;
    border-bottom: white solid 2px;
    padding-bottom: 10px;

}

.price {
    font-size: 30px;
    font-weight: 700;
}


.options {
    display: flex;
    gap: 20px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(224, 209, 168);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    border: white solid 5px;
}

.amount span {
    font-weight: 700;
    font-size: 20px;
}

.minus, .plus {
    cursor: pointer;
    
}
.minus img {
    width: 15px;
    height: 15px;
}

.plus img  {
    width: 15px;
    height: 15px;
    
}

.carrinho img {
    
    width: 20px;
    height: 20px;
}
.carrinho {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:rgb(224, 209, 168);
    padding: 10px 30px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    font-weight: 700;
    border: white solid 5px;
}