@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300&display=swap');

root {
    --cor-do-fundo: rgb(204, 180, 113);
    --cor-da-fonte: rgb(96, 80, 48);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-do-fundo);
    display: block;
    width: 100%;
    height: 100%;
}




.conteiner {
    border: 2px solid black;
}

.conteudoBuscado{
    background-color: aqua;
}