@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-do-fundo: rgb(204, 180, 113);
    --cor-da-fonte: rgb(96, 80, 48);
}

body {
    background-color: var(--cor-do-fundo);
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fff;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: 5px;
    margin-left: 300px;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: var(--cor-da-fonte);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    
}

.footer-col ul {
    list-style: none;  
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--cor-do-fundo);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--cor-da-fonte);
    padding-left: 10px;
}

.footer-col .medias-sociais{
    margin-top: 30px;
}

.footer-col .medias-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: var(--cor-do-fundo);
    border: 1px solid var(--cor-do-fundo);
    transition: all 0.5s ease;
}

.footer-col .medias-sociais a i {
    font-size: 20px;
}

.footer-col .medias-sociais a:hover {
    color: #fff;
    background-color: var(--cor-da-fonte);

}

main input{
    width: 20%;
    height: 15px;
    color: var(--cor-da-fonte);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--cor-da-fonte);
    padding: 10px;
    font-size: 15px;
    transition: all 0.4s ease;
}

main input:focus{
    color: var(--cor-do-fundo);
}

body span{
    border-radius: 20%;
    padding: 10px 15px;
    margin-left: 50px;
}

body #carrinho-header img {
    padding: 30px 30px;
    margin-left: 4px;
}

.main img {
    max-width: 300px;
}

.produtos {
    display: flex;
    align-items:center;
    padding: 10px;
    gap: 5px;
}

.produto h2 {
    
    background-color: rgb(220, 220, 220);
    padding: 10px 80px;
}


/* ====================== Main ====================== */

.titulo1{
    font-size: 50px;
    align-items: center;
}


.slider{
    margin: 50px auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 600px;
}

.manual-navigation{
    position: absolute;
    width: 600px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 4px solid var(--cor-da-fonte);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    margin: 50px auto;
    position: absolute;
    width: 600px;
    margin-top: 581px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 43px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}