<footer>
    <div class="container-footer">
        <div class="row-footer">
            <!-- footer col-->
            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li> <a href="">Quem somos</a></li>
                    <li> <a href="">Nossos Serviços</a></li>
                </ul>
            </div>
            <!-- end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Obter Ajuda</h4>
                <ul>
                    <li> <a href="">SAQ</a></li>
                    <li> <a href="">Opções de pagamento</a></li>
                </ul>
            </div>
            <!-- end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Siga-nos</h4>
                <div class="medias-sociais">
                    <a href="https://www.instagram.com/donadella_fh/"> <i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/donadella.fh"> <i class="fa fa-facebook"></i></a>
                </div>
            </div>
            <!-- end footer col-->
        </div>
    </div>
</footer>